@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200&display=swap');

/*-- CORES --
Branco #E4E3DF
Cinza #8D928D
Preto #020B0F */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Heebo', sans-serif;
  }

body {
    background-color: #E4E3DF;
    margin: 0 auto;
    width: 100%;
    min-width: max-content;
}

header {
    min-width: max-content;
    max-width: 100%;
    padding: auto;
    background-attachment: fixed;
    background-size: cover;
    filter: invert(1.0);
    transition: 0.6s;
}

header:hover {
    -webkit-text-stroke: 1px #E4E3DF;
    color: #E4E3DF;
    background-color: #E4E3DF;
    filter: invert(0);
}
/*
.navbar {
    position: sticky;
    top: 0;
}*/

#menu {
    width: 35px;
    max-width: 100%;
    margin-left: 40px;
    margin-bottom: 13px;
}

#search {
    width: 20px;
    max-width: 100%;
    margin-left: 30px;
    margin-bottom: 20px;
}

#logo {
    width: 200px;
    max-width: 100%;
    margin-left: 430px;
    margin-bottom: 19px;
}

#cart {
    width: 31px;
    max-width: 100%;
    margin: 19px;
    margin-left: 520px;
}

.info {
    text-align: center;
    max-width: 100%;
}

.info p {
    color: #E4E3DF;
    font-size: 16px;
    font-weight: 600;
    margin-top: 410px;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}

.home {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.btn {
    display: inline-block;
    position: relative;
    align-items: center;
    width: 145px;
    height: 40px;
    font-family: 'Heebo', sans-serif;
    font-weight: bolder;
    font-size: 15px;
    color: #E4E3DF;
    background-color: transparent;
    border: solid 1px #E4E3DF;
    cursor: pointer;
    z-index: 1;
}

.btn-tp1 {
    overflow: hidden;
}

.btn-tp1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    transition: width .4s ease-in-out;
    background-color: #E4E3DF;
    font-weight: bolder;
    z-index: -1;
}

.btn-tp1:hover {
    background-color: transparent;
    text-shadow: 0px 0.5px 1px rgba(2, 11, 15, 1);
    color: #020B0F;
}

.btn-tp1:hover::before {
    width: 100%;
}

.video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9){
    .video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .video {
        width: auto;
        height: 100%;
    }
}

.text {
    text-align: center;
    color: #020B0F;
}

.text #collection {
    font-size: 30px;
    font-weight: 600;
    margin-top: 50px;
    text-shadow: 0px 1px 1px rgba(2, 11, 15, 0.25);
}

.text #quote {
    font-size: 21px;
    font-weight: 500;
    text-shadow: 0px 1px 2px rgba(2, 11, 15, 0.5);
}

.shop {
    text-align: center;
    color: #020B0F;
}

figure {
    display: inline-block;
    text-align: center;
    margin: 0;
}

.model-dress2 {
    position: absolute;
}

.dress2 {
    position: relative;
    transition: opacity 0.3s ease-in-out;
}

.shop img.dress2:hover {
    opacity: 0;
}

.model-blouse {
    position: absolute;
}

.blouse {
    position: relative;
    transition: opacity 0.3s ease-in-out;
}

.shop img.blouse:hover {
    opacity: 0;
}

.model-trousers {
    position: absolute;
}

.trousers {
    position: relative;
    transition: opacity 0.3s ease-in-out;
}

.shop img.trousers:hover {
    opacity: 0;
}

.model-dress3 {
    position: absolute;
}

.dress3 {
    position: relative;
    transition: opacity 0.3s ease-in-out;
}

.shop img.dress3:hover {
    opacity: 0;
}

.shop img {
    width: 270px;
    align-items: center;
    padding: 0px 10px;
}

.shop p {
    font-size: 14px;
    font-weight: bolder;
    text-align: left;
    margin-left: 12px;
}

.shop span {
    font-size: 13px;
    font-weight: bold;
    color: #8D928D;
    margin-left: 5px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.btn2 {
    display: inline-block;
    position: relative;
    align-items: center;
    margin-left: 520px;
    width: 145px;
    height: 40px;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #E4E3DF;
    background-color: #020B0F;
    border: solid 1px #020B0F;
    cursor: pointer;
    z-index: 1;
}

.btn-tp2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    transition: width .4s ease-in-out;
    background-color: #E4E3DF;
    z-index: -1;
}

.btn-tp2:hover {
    background-color: #020B0F;
    border: solid 1px #020B0F;
    text-shadow: 0px 0.3px 0.3px rgba(2, 11, 15, 1);
    color: #020B0F;
}

.btn-tp2:hover::before {
    width: 100%;
}