@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200&display=swap');

/*-- CORES --
Branco #E4E3DF
Cinza #B8C2B9
Preto #020B0F */

* {
 box-sizing: border-box;
}

body {
  font-family: 'Heebo', sans-serif;
  background-color: #E4E3DF;
  margin: 0 auto;
  width: 100%;
  min-width: max-content;
}

header {
  min-width: max-content;
  max-width: 100%;
  padding: auto;
}

#logo {
  width: 200px;
  max-width: 100%;
  margin-left: 430px;
  margin-bottom: 19px;
}

#cart {
  width: 31px;
  max-width: 100%;
  margin: 19px;
  margin-left: 520px;
}

#search {
  width: 20px;
  max-width: 100%;
  margin-left: 30px;
  margin-bottom: 20px;
}

main {
  padding: 5%;
}
div {
  font-family:'Heebo', sans-serif;
  font-size: 12px;
  display: inline-block;
  justify-content: right;

}

#collections {
  display: flex;
  align-items: center;
  justify-content: center;
}

figure {
  display: inline-block;
  text-align: center;
  margin: 0;
}

figure img {
  width: 300px;
  align-items: center;
  padding: 0px 10px;
}

.model19-2 {
  position: absolute;
}

.model19 {
  position: relative;
  transition: opacity 0.3s ease-in-out;
}

figure img.model19:hover {
  opacity: 0;
  cursor: pointer;
}

#relBar {
  display: flex;
  justify-content: flex-end;
}

#selectBar {
  width: 150px;
  float: left;
  height: 30px;
  font-family: 'Heebo', sans-serif;
  background-color: #E4E3DF;
  border: 1px solid #020B0F;
}

@media (min-width: 320px) {
  
  header {
    width: 100%;
  }

  main {
    width: 100%;
  }
}