/*HEADER-CABEÇALHO*/
header{

    background-color: #020B0F;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header img  {

    filter: invert(1);
}
.botao1{
   
  
    background-color: #020B0F;
}

.botao {
    
   
    width: 15px;
   }
.botaotxt{
   
    
    background-color: #020B0F;
}
.logo1{
    
    width: 200px; 
}
.carrinho {
    
    width: 30px; 
}
/*CONTEUDO*/
main {
    padding: 5%;
    font-family: 'Heebo', sans-serif;
  
  }
/*Blusa imagem*/
.blusa  {
    
    display: block;
    margin: 0 auto;
    object-fit: cover;
    order: 1;
    
        max-width:200px;
        max-height:200px;
        min-height:200px; 
        min-width:200px;
    width: auto;
    height: auto;
   
}
/*texto 1*/
main section ul li h1{
    
    
}
/*caixa quantidade*/
main section ul li h1 select{
    
    
}
/*texto 2 e 3*/
main section ul li h2{
    
}
/*caixa cor e tamanho*/
main section ul li h2 select{
    
    
}
/*Preço*/
main section ul li h3{
    
}

/*vestido imagem*/
.vestido  {
    
    display: block;
    margin: 0 auto;
    object-fit: cover;
    order: 1;
    
        max-width:250px;
        max-height:250px;
        min-height:250px; 
        min-width:250px;
    width: auto;
    height: auto;
   
}
/*texto 1*/
main section ul li h1{
    
    
}
/*caixa quantidade*/
main section ul li h1 select{
    
    
}
/*texto 2 e 3*/
main section ul li h2{
    
}
/*caixa cor e tamanho*/
main section ul li h2 select{
    
    
}
/*Preço*/
main section ul li h3{
    
}
