<footer>
    <div class="contact">
        <p>Online business license: 2019-SEOUL-1596<br>
            Address: 201F, 10, Hangang-daero 46-gil, Seoul, SK<br>
            Business license: 410-32-18668<br>
            Ceo Cpo: KIM MINJU +82 2-749-2990<br>
            Contact: connect@minjukim.co</p>
    </div>
    <div class="logo2">
        <a href="home.html">
            <img src="img/logo2.png" alt="logo 2">
        </a>
    </div>
    <div class="right">
        <a class="about" href="about.html">
            About
        </a>
        <a class="ig" href="https://www.instagram.com/_minjukim_/">
            <img src="img/ig.png" alt="ícone instagram preto e branco">
        </a>
    </div>
</footer>