<header class="navbar">
    <div class="menu-search">
        <img id="menu" src="/img/menu.png" alt="menu hamburger">
        <img id="search" src="/img/search.png" alt="search logo">
    </div>
    <a href="/">
        <img id="logo" src="/img/logo.png" alt="logo">
    </a>
    <div class="cart-acc">
        <a href="/cart">
            <img id="cart" src="/img/cart.png" alt="cart">
        </a>
        <a href="/login">
            <img id="account" src="/img/account.png" alt="profile icon">
        </a>
    </div>
</header>