<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head')  %> 
  <link rel="stylesheet" href="css/about.css">
</head>
<body>
  <%- include('partials/header')  %> 

  <main>
    <div class="about">
      <div class="texto">
        <h1>About MINJUKIM</h1>
        <p>
          Minju Kim is a Seoul based fashion brand built upon artistic creativity, fairy-tale imagination, and the art of craftmanship.
    
          Seoul born and trade at the famous Royal Academy of Fine Arts in Antwerp, Minju Kim launched her namesake brand in 2015 after winning the H&M Awards. Kim was also a semi-finalist in the LVMH Prize for Young Fashion Designers, and became the first winner of Netflix's Next in Fashion.
          
          Minju Kim has become known for her signature style, which combines a youthful playfulness and avant-garde haute couture. Her imaginative collections combine bold silhouettes with feminine characteristics and an overarching element of joyfulness. 
        </p>
      </div>
      <div class="imagens">
        <div class="background">
          <img src="img/sketch1.png" alt="sketch de roupa">
        </div>
        <div class="imagem">
          <img src="img/kimMinju1.png" alt="Kim Minju sorrindo">
        </div>
      </div>
    </div>

  </main>
  <%- include('partials/footer') %>
</body>
</html>