<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head')  %> 
  <link rel="stylesheet" href="/css/cart.css">
</head>
<body>
    <%- include('partials/header')  %> 
    <main>
        <h1 class="carrinho">Cart</h1>
        <section id="product1">
            <img class="imagem1" src="/img/blouse.jpg" alt="">
            <div class="form">
                <h2>Sailor Collar Blous</h2>
                <div class="quant">
                    <b>Quantity: </b>
                    <select id="Quantidade">
                        <option>Select the quantity</option>
                        <option value="1" >1</option>
                        <option value="2" >2</option>
                        <option value="3" >3</option>
                        <option value="4" >4</option>
                        <option value="5" >5</option>
                        <option value="6" >6</option>
                        <option value="7" >7</option>
                        <option value="8" >8</option>
                        <option value="9" >9</option>
                    </select>
                </div>
                <div class="color">
                    <b>Color:</b>
                    <select id="Cor">
                        <option>Select the color</option>
                        <option value="YELLOW" >Yellow</option>
                        <option value="BLUE" >Blue</option>
                    </select>
                </div>
                <div class="size">
                    <b>Size</b>
                    <select id=Size>
                        <option>Select a size</option>
                        <option value="XS" >XS</option>
                        <option value="S" >S</option>
                        <option value="M" >M</option>
                        <option value="L" >L</option>
                    </select>
                </div>
            </div>
            <div class="preco">
                <h2>$150.00</h2>
            </div>
        </section>
        <section id="product2">
            <img class="imagem2" src="/img/dress4.jpg" alt="">
            <div class="form">
                <h2>Bow Silk Midi Dress</h2>
                <div class="quant">
                    <b>Quantity: </b>
                    <select id="Quantidade">
                        <option>Select the quantity</option>
                        <option value="1" >1</option>
                        <option value="2" >2</option>
                        <option value="3" >3</option>
                        <option value="4" >4</option>
                        <option value="5" >5</option>
                        <option value="6" >6</option>
                        <option value="7" >7</option>
                        <option value="8" >8</option>
                        <option value="9" >9</option>
                    </select>
                </div>
                <div class="color">
                    <b>Color:</b>
                    <select id="Cor">
                        <option>Select the color</option>
                        <option value="BLACK" >Black</option>
                        <option value="WHITE" >White</option>
                    </select>
                </div>
                <div class="size">
                    <b>Size</b>
                    <select id=Size>
                        <option>Select a size</option>
                        <option value="XS" >XS</option>
                        <option value="S" >S</option>
                        <option value="M" >M</option>
                        <option value="L" >L</option>
                    </select>
                </div>
            </div>
            <div class="preco2">
                <h2>$219.00</h2>
            </div>
        </section>
        <div class="total">
            <h2 class="total">Total:</h2>
            <h2>$ 369.00</h2>
        </div>
        
        <div class="final">
            <button>Buy</button>
            <a href="/store">Continue shopping</a>
        </div>
    </main>
    <%- include('partials/footer') %>
</body>
</html>