<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/forgotPassword.css">
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/header') %>

    <main>
        <div class="box">
            <div class="login">
                <h2>Please enter your email address. You will receive a link to create a new password via email.</h2>
                <form action="">
                    <label for="email">E-mail Address</label><br>
                    <input class="col-4" type="email" id="email" name="email">
                </form>
            </div>
            <div class="buttons">
                <a href="/login">
                    <button class="btn btn-tp1" type="submit">CREATE OR RESET PASSWORD</button>
                </a>
                <a href="/login">
                    <button class="btn2 btn-tp2">CANCEL</button>
                </a>
            </div>
        </div>
    </main>

    <%- include('partials/footer') %>
</body>
</html>