<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/login.css">
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/header') %>

    <main>
        <div class="box">
            <img src="/img/account.png" alt="account icon">
            <div class="login">
                <form action="/" method="POST">
                    <input class="col-4" type="email" id="email" name="email" placeholder="E-mail Address"><br>
                    <input class="col-4" type="password" id="password" name="password" placeholder="Password">
                    <% if(locals.errors){ %>
                        <span class="error"> <%= errors.messege %> </span>
                   <% } %> 
                    <div class="flex itens-center">
                        <input type="checkbox" name="remember" id="remember"><label for="remember">Remember me</label>
                        <a href="">Forgot your password?</a>
                    </div>
            <button class="btn btn-tp1" type="submit">LOGIN</button>
                </form>
            </div>
            <button class="btn btn-tp1" type="submit">LOGIN</button>
            <div class="register" >
                <a href="/register">Don't have an account?</a>
            </div>
        </div>
    </main>

    <%- include('partials/footer') %>
</body>
</html>