<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/payment.css">
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/header') %>

    <main>
        <div class="cart-details">
            <div class="item">
                <img src="" alt="">
                <div class="item-details">
                    <h4> Descrição da roupa </h4>
                    <h5> $ Preço </h5>
                </div>
            </div>

            <div class="total">
                <h3> TOTAL: $ Preço </h3>
            </div>
        </div>

        <div class="checkout">
            <div class="express-checkout">
                <div class="options-box">
                    <span> Express Checkout </span>
                </div>
                <div class="payment-options">
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                </div>
            </div>

            <div class="payment-separator">
                <span> OR </span>
            </div>

            <div class="payment-form">
                <form action="">
                    <div class="flex">
                        <input class="col-12" type="number" id="card" name="card"
                            placeholder="Card Number">
                    </div>
                    <div class="flex">
                        <input class="col-12" type="text" id="name" name="name"
                            placeholder="Cardholder Name">
                    </div>
                    <div class="flex">
                        <input class="col-6" type="text" id="date" name="date" 
                            placeholder="Expiration Date (MM / YY)">
                        <input class="col-6" type="number" id="code" name="code" 
                            placeholder="Security Code">
                    </div>
                </form>
            </div>

            <div class="buttons">
                <a href="/form">Return to Shipping</a>
                <button type="submit" class="btn btn-tp1">PAY NOW</button>
            </div>
        </div>
    </main>

    <%- include('partials/footer') %>
</body>
</html>