<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/payment.css">
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/header') %>

    <main>
        
    </main>

    <%- include('partials/footer') %>
</body>
</html>