<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/profile.css">
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/header') %>

    <main>
        <div class="box">
            <div class="profile">
                <h2>Profile</h2>
                <div class="row">
                    <h3>Name: </h3><span>Full Name</span>
                </div>
                <div class="row">
                    <h3>E-mail: </h3><span>E-mail</span>
                </div>
                <div class="row">
                    <h3>Phone number: </h3><span>Number</span>
                </div>
            </div>
            <div class="address">
                <h2>Address</h2>
                <div class="row">
                    <h3>Country: </h3><span>Country</span>
                </div>
                <div class="row">
                    <h3>State: </h3><span>State</span>
                </div>
                <div class="row">
                    <h3>Suburb: </h3><span>Suburb</span>
                </div>
                <div class="row">
                    <h3>Address Line: </h3><span>Address Line</span>
                </div>
                <div class="row">
                    <h3>Zip Code: </h3><span>Zip Code</span>
                </div>
            </div>
        </div>
        <button class="btn btn-tp1">EDIT PROFILE</button>
    </main>

    <%- include('partials/footer') %>
</body>
</html>