@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200&display=swap');

/*-- CORES --
Branco #E4E3DF
Cinza #AAAAAA
Preto #020B0F */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Heebo', sans-serif;
    background-color: #E4E3DF;
    margin: 0 auto;
    width: 100%;
    min-width: max-content;
}

/* --- I ----- HEADER ----- */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    padding: 0 50px;
    max-width: 100vw;
    background-color: #020B0F;
}
#menu-nav {
    width: 35px;
    height: 30px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
    filter: invert(1);
}

.nav li a {
    color: #fff;
    text-decoration: none;
}

.nav li a:hover {
    font-weight: bold;
}

.nav li {
    list-style: none;
    padding: 16px;
}

.nav {
    padding: 0;
    /* margin: 0 20px; */
    transition: 0.3s ease;
    display: none;
    position: absolute;
    background: #020B0F;
    width: 10vw;
    height: 25vh;
    text-align: center;
}

.menu-bg,
#menu-bar {
    top: 0;
    left: 0;
    position: absolute;
}

.menu-bg:hover {
    -webkit-text-stroke: 1px #020B0F;
    color: #020B0F;
    background-color: #020B0F;
    filter: invert(0);
}

#menu-bar {
    z-index: 2;
}

.change-bg {
    width: 550px;
    height: 540px;
    transform: translate(-60%, -30%);

}

.change .bar {
    background-color: white;

}

.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
}

.change #bar2 {
    opacity: 0;
}

.change {
    display: block;
}

/* search */
#search {
    width: 20px;
    max-width: 100%;
    margin-left: 20%;
    align-self: center;
    filter: invert(1);
}
.search {
    position: relative;
    height: 50px;
}

.search .input {
    background-color: #fff;
    border: 0;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 50px;
    transition: width 0.3s ease;
}

.btn {
    background-color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    transition: transform 0.3s ease;
}

.btn:focus,
.input:focus {
    outline: none;
}

.search.active .input {
    width: 200px;
}

.search.active .btn {
    transform: translateX(198px);
}

#logo {
    width: 200px;
    max-width: 100%;
    margin-right: 1%;
    filter: invert(1);
}

.cart-acc {
    display: flex;
    gap: 20px;
}

#cart {
    width: 31px;
    max-width: 100%;
    filter: invert(1);
}

#account {
    width: 31px;
    max-width: 100%;
    filter: invert(1);
}
/* --- F ----- HEADER ----- */


/* --- I ----- MAIN ----- */
main {
    font-family: 'Heebo', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 76vh;
}

.about {
    width: 98vw;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 30px;
    display: flex;
    align-items: flex-start;
    margin-bottom: 5%;
}

.texto {
    font-family: 'Heebo', sans-serif;
    text-align: justify;
    margin: 40px 0;
    width: 40%;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.imagens {
    position: relative;
    margin: 5vh;
    width: 30vw;
}

.background {
    position: absolute;
    width: 400px;
    opacity: 0.7;
    z-index: 1;
}

.background img {
    width: 100%;
}

.imagem {
    display: flex;
    position: absolute;
    width: 250px;
    z-index: 2;
    top: 30px;
    left: 180px;
}

.imagem img {
    width: 100%;
}
/* --- F ----- MAIN ----- */


/* --- I ----- FOOTER ----- */
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #020B0F;
}

.contact {
    display: flex;
    color: #E4E3DF;
    font-size: 10px;
    margin-left: 15px;
    padding: 10px;
}

.logo2 img {
    width: 300px;
    max-width: 100%;
    padding: 10px;
    margin-right: 100px;
    filter: invert(1);
}

.right {
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.aboutFooter {
    color: #E4E3DF;
    margin-right: 20px;
    font-size: 16px;
}

.ig img {
    width: 35px;
    max-width: 100%;
    filter: invert(1);
}
/* --- F ----- FOOTER ----- */

/* --- I ----- AJUSTE TAMANHO TELAS ----- */
@media screen and (min-width: 1001px) {
   
}

@media screen and (max-width: 1000px) {
    .background {
        display: flex;
        width: 300px;
    }

    .imagem {
        width: 200px;
    }

    .texto {
        width: 30%;
    }

}

@media screen and (max-width: 875px) {
    .about {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .texto {
        width: 70%;
    }

    .imagens {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .imagem {
        top: 30px;
        position: relative;
        left: 10vw;

    }

    .background {
        right: 5%;
        left: 30vw;
    }
}

@media screen and (max-width: 675px) {
    .logo2 img {
        display: none;
    }

    .background {
        left: 15vw;
        
    }
}

@media screen and (max-width: 470px) {
    #search {
        display: none;
    }

    #cart {
        display: none;
    }

    #account {
        display: none;
    }

}
/* --- F ----- AJUSTE TAMANHO TELAS ----- */