@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200&display=swap');

/*-- CORES --
Branco #E4E3DF
Cinza #AAAAAA
Preto #020B0F */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Heebo', sans-serif;
    background-color: #E4E3DF;
    width: 100%;
    margin: 0;
    min-width: max-content;
}

/* --- I ----- HEADER ----- */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    padding: 0 3vh;
    max-width: 100%;
    background-color: #020B0F;
}


.menu-nav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 35px;
    height: 30px;
    margin: 20px 20px;
    transition: all .3s ease-in-out;
}

.burger-btn {
    width: 30px;
    height: 3px;
    background: #E4E3DF;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}

.burger-btn::before, 
.burger-btn::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #E4E3DF;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}

.burger-btn::before {
    transform: translateY(-10px);
}

.burger-btn::after {
    transform: translateY(10px);
}

/* animation */
.menu-nav.open .burger-btn {
    transform: translateX(-30px);
    background: transparent;
}

.menu-nav.open .burger-btn::before {
    transform: rotate(45deg) translate(20px, -20px);
}

.menu-nav.open .burger-btn::after {
    transform: rotate(-45deg) translate(20px, 20px);
}
/* animation */

.navigation {
    width: 6%;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

#menu-nav {
    width: 35px;
    height: 30px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
    filter: invert(1);
}

.nav li a {
    color: #fff;
    text-decoration: none;
}

.nav li a:hover {
    font-weight: bold;
}

.nav li {
    list-style: none;
    padding: 16px;
}

.nav {
    padding: 0;
    /* margin: 0 20px; */
    transition: 0.3s ease;
    display: none;
    position: absolute;
    background: #020B0F;
    width: 10vw;
    height: 25vh;
    text-align: center;
}

/* .menu-bg {
    top: 0;
    left: 0;
    position: absolute;
} */

#menu-bar {
    top: -7px;
    left: -3px;
    position: absolute;
}

.menu-bg:hover {
    -webkit-text-stroke: 1px #020B0F;
    color: #020B0F;
    background-color: #020B0F;
    filter: invert(0);
}

#menu-bar {
    z-index: 2;
}

.change-bg {
    width: 550px;
    height: 540px;
    transform: translate(-60%, -30%);

}

.change .bar {
    background-color: white;

}

.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
}

.change #bar2 {
    opacity: 0;
}

.change {
    display: block;
}

/* search */
#search {
    width: 25px;
    max-width: 100%;
    margin-left: 100%;
    align-self: center;
    filter: invert(1);
}
/* .search {
    position: relative;
    height: 50px;
} */

.search .input {
    background-color: #fff;
    border: 0;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 50px;
    transition: width 0.3s ease;
}

.btn {
    background-color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    transition: transform 0.3s ease;
}

.btn:focus,
.input:focus {
    outline: none;
}

.search.active .input {
    width: 200px;
}

.search.active .btn {
    transform: translateX(198px);
}

#logo {
    width: 200px;
    max-width: 100%;
    margin-right: 1%;
    filter: invert(1);
}

.cart-acc {
    display: flex;
    gap: 20px;
}

#cart {
    width: 31px;
    max-width: 100%;
    filter: invert(1);
}

#account {
    width: 31px;
    max-width: 100%;
    filter: invert(1);
}
/* --- F ----- HEADER ----- */

/* --- I ----- MAIN ----- */
main {
    font-family: 'Heebo', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 80vh;
}

.carrinho {
    font-family: 'Heebo', sans-serif;
    text-transform: uppercase;
    margin-left: 10%;
}

#product1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80vw;
}

h3 {
    margin: 0;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5vw;
}

.quant, .size {
    width: 80%;
}

.imagem1 {
    width: 15vw;
}

select {
    width: 200px;
    height: 25px;
    font-family: 'Heebo', sans-serif;
    background-color: #E4E3DF;
    border: 1px solid #020B0F;
}

.delete img {
    width: 4vw;
}


.delete {
    display: flex;
    background-color: #E4E3DF;
    border: 1px solid #E4E3DF;
}

.price {
    display: flex;
    align-items: flex-end;
}

.total {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5vw;
}

.total h2 {
    text-transform: uppercase;
}

.a-button {
    color: white;
    text-decoration: none;
}

.final {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 5vw;
    margin-bottom: 2%;
}

.final a {
    font-weight: bold;
    color: #020B0F;
}

.btn {
    position: relative;
    width: 250px;
    height: 50px;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #E4E3DF;
    background-color: #020B0F;
    border: solid 1px #020B0F;
    cursor: pointer;
    z-index: 1;
}

.btn-tp1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    transition: width .4s ease-in-out;
    background-color: #E4E3DF;
    z-index: -1;
}

.btn-tp1:hover {
    background-color: #020B0F;
    border: solid 1px #020B0F;
    text-shadow: 0px 0.3px 0.3px rgba(2, 11, 15, 1);
    color: #020B0F;
}

.btn-tp1:hover::before {
    width: 100%;
}

/* --- F ----- MAIN ----- */

/* --- I ----- FOOTER ----- */
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #020B0F;
}

.contact {
    display: flex;
    color: #E4E3DF;
    font-size: 10px;
    margin-left: 15px;
    padding: 10px;
}

.logo2 img {
    width: 300px;
    max-width: 100%;
    padding: 10px;
    margin-right: 100px;
    filter: invert(1);
}

.right {
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.aboutFooter {
    color: #E4E3DF;
    margin-right: 20px;
    font-size: 16px;
}

.ig img {
    width: 35px;
    max-width: 100%;
    filter: invert(1);
}

/* --- F ----- FOOTER ----- */

/* --- I ----- AJUSTE TAMANHO TELAS ----- */
@media screen and (max-width: 1000px) {
    header {
        width: 100vw;
    }

    body {
        width: 100vw;
    }

    footer {
        width: 100vw;
    }
}


@media screen and (max-width: 875px) {
    header {
        max-width: 100%;
    }

    body {
        width: 100vw;
    }

    footer {
        max-width: 100vw;
    }

}

@media screen and (max-width: 675px) {
    header {
        max-width: 100%;
    }

    body {
        width: 100vw;
    }

    main {
        width: 100vw;
    }

    .logo2 img {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    #search {
        display: none;
    }

    #cart {
        display: none;
    }

    #account {
        display: none;
    }
    
    .imagem1 {
        width: 40vw;
    }

    .product {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .price-delete {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: baseline;
    }

}

@media screen and (max-width: 325px) {
    .imagem1 {
        width: 80vw;
    }

    .price {
        display: flex;
    }

}
/* --- F ----- AJUSTE TAMANHO TELAS ----- */