@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200&display=swap');

/*-- CORES --
Branco #E4E3DF
Cinza #AAAAAA
Preto #020B0F */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Heebo', sans-serif;
}

body {
    background-color: #E4E3DF;
    margin: 0 auto;
    width: 100%;
}

/* --- I ----- HEADER ----- */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: max-content;
    height: 10vh;
    padding: 0 3vh;
    filter: invert(1.0);
    background-color: transparent;
    transition: 0.6s;
}

header:hover {
    -webkit-text-stroke: 1px #E4E3DF;
    color: #E4E3DF;
    background-color: #E4E3DF;
    filter: invert(0);
}

#menu-nav {
    width: 35px;
    height: 30px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
}

.nav li a {
    color: #020B0F;
    text-decoration: none;
}

.nav li a:hover {
    font-weight: bold;
}

.nav li {
    list-style: none;
    padding: 16px;
}

.nav {
    padding: 0;
    /* margin: 0 20px; */
    transition: 0.3s ease;
    display: none;
    position: absolute;
    background: #E4E3DF;
    width: 10vw;
    height: 25vh;
    text-align: center;
}

.menu-bg,
#menu-bar {
    top: 0;
    left: 0;
    position: absolute;
}

.menu-bg:hover {
    -webkit-text-stroke: 1px #E4E3DF;
    color: #E4E3DF;
    background-color: #E4E3DF;
    filter: invert(0);
}

#menu-bar {
    z-index: 2;
}

.change-bg {
    width: 550px;
    height: 540px;
    transform: translate(-60%, -30%);

}

.change .bar {
    background-color: white;

}

.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
}

.change #bar2 {
    opacity: 0;
}

.change {
    display: block;
}

/* search */
#search {
    width: 30px;
    max-width: 100%;
    margin-left: 100%;
    align-self: center;
}
.search {
    position: relative;
    height: 50px;
}

.search .input {
    background-color: #fff;
    border: 0;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 50px;
    transition: width 0.3s ease;
}

.btn {
    background-color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    transition: transform 0.3s ease;
}

.btn:focus,
.input:focus {
    outline: none;
}

.search.active .input {
    width: 200px;
}

.search.active .btn {
    transform: translateX(198px);
}

#logo {
    width: 200px;
    max-width: 100%;
    margin-right: 1%;
}

.cart-acc {
    display: flex;
    gap: 20px;
}

#cart {
    width: 31px;
    max-width: 100%;
}

#account {
    width: 31px;
    max-width: 100%;
}

/* --- F ----- HEADER ----- */

/* --- I ----- MAIN ----- */
.info {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.info p {
    text-align: center;
    color: #E4E3DF;
    font-size: 16px;
    font-weight: 600;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.btn {
    display: inline-block;
    position: relative;
    align-items: center;
    width: 145px;
    height: 40px;
    font-family: 'Heebo', sans-serif;
    font-weight: bolder;
    font-size: 15px;
    color: #E4E3DF;
    background-color: transparent;
    border: solid 1px #E4E3DF;
    cursor: pointer;
    z-index: 1;
}

.btn-tp1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    transition: width .4s ease-in-out;
    background-color: #E4E3DF;
    font-weight: bolder;
    z-index: -1;
}

.btn-tp1:hover {
    background-color: transparent;
    text-shadow: 0px 0.5px 1px rgba(2, 11, 15, 1);
    color: #020B0F;
}

.btn-tp1:hover::before {
    width: 100%;
}

.img-bg {
    display: none;
}

.img-bg-phone {
    display: none;
}

.imgs {
    width: 100%;
    position: relative;
}

.index {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
}

.video {
    width: max-content;
    height: max-content;
}

.videoauto {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.text {
    text-align: center;
    color: #020B0F;
}

.text #collection {
    font-size: 30px;
    font-weight: 600;
    margin-top: 50px;
    text-shadow: 0px 1px 1px rgba(2, 11, 15, 0.25);
}

.text #quote {
    font-size: 21px;
    font-weight: 500;
    text-shadow: 0px 1px 2px rgba(2, 11, 15, 0.5);
}

.shop {
    text-align: center;
    color: #020B0F;
}

.shop a {
    text-decoration: none;
    color: #020B0F;
}

figure {
    display: inline-block;
    text-align: center;
    margin: 0;
}

.model-dress2 {
    position: absolute;
}

.dress2 {
    position: relative;
    transition: opacity 0.3s ease-in-out;
}

.shop img.dress2:hover {
    opacity: 0;
    cursor: pointer;
}

.model-blouse {
    position: absolute;
}

.blouse {
    position: relative;
    transition: opacity 0.3s ease-in-out;
}

.shop img.blouse:hover {
    opacity: 0;
    cursor: pointer;
}

.model-trousers {
    position: absolute;
}

.trousers {
    position: relative;
    transition: opacity 0.3s ease-in-out;
}

.shop img.trousers:hover {
    opacity: 0;
    cursor: pointer;
}

.model-dress3 {
    position: absolute;
}

.dress3 {
    position: relative;
    transition: opacity 0.3s ease-in-out;
}

.shop img.dress3:hover {
    opacity: 0;
    cursor: pointer;
}

.shop img {
    width: 270px;
    align-items: center;
    padding: 0px 10px;
}

.shop p {
    font-size: 14px;
    font-weight: bolder;
    text-align: left;
    margin-left: 12px;
}

.shop span {
    font-size: 13px;
    font-weight: bold;
    color: #8D928D;
    margin-left: 5px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 1rem;
}

.btn2 {
    position: relative;
    width: 145px;
    height: 40px;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #E4E3DF;
    background-color: #020B0F;
    border: solid 1px #020B0F;
    cursor: pointer;
    z-index: 1;
}

.btn-tp2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    transition: width .4s ease-in-out;
    background-color: #E4E3DF;
    z-index: -1;
}

.btn-tp2:hover {
    background-color: #020B0F;
    border: solid 1px #020B0F;
    text-shadow: 0px 0.3px 0.3px rgba(2, 11, 15, 1);
    color: #020B0F;
}

.btn-tp2:hover::before {
    width: 100%;
}

.title-col {
    display: flex;
    font-size: large;
    margin-left: 80px;
    margin-right: 80px;
    border-bottom: solid 1px lightgray;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.scroll3 {
    display: flex;
    justify-content: space-evenly;
    border-bottom: solid 1px lightgray;
}

.scroll3 img {
    width: 33vw;
    padding: 20px;
}

.description {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    align-items: center;
    justify-content: space-evenly;
    color: #020B0F;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.description h3 {
    font-size: 30px;
    text-align: center;
}

.description p {
    font-size: 20px;
    text-align: center;
}

.btn3 {
    position: relative;
    width: 145px;
    height: 40px;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #E4E3DF;
    background-color: #020B0F;
    border: solid 1px #020B0F;
    cursor: pointer;
    z-index: 1;
}

.btn-tp3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    transition: width .4s ease-in-out;
    background-color: #E4E3DF;
    z-index: -1;
}

.btn-tp3:hover {
    background-color: #020B0F;
    border: solid 1px #020B0F;
    text-shadow: 0px 0.3px 0.3px rgba(2, 11, 15, 1);
    color: #020B0F;
}

.btn-tp3:hover::before {
    width: 100%;
}

.scroll4 {
    background-color: #1b1b1b;

}

.video2 {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video2 video {
    position: relative;
    top: 0;
    left: 0;
    object-fit: contain;
    width: 100%;
    height: 100vh;
    pointer-events: none;
}

/* --- F ----- MAIN ----- */

/* --- I ----- FOOTER ----- */
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #020B0F;
}

.contact {
    display: flex;
    color: #E4E3DF;
    font-size: 10px;
    margin-left: 15px;
    padding: 10px;
}

.logo2 img {
    width: 300px;
    max-width: 100%;
    padding: 10px;
    margin-right: 100px;
    filter: invert(1);
}

.right {
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.aboutFooter {
    color: #E4E3DF;
    margin-right: 20px;
    font-size: 16px;
}

.ig img {
    width: 35px;
    max-width: 100%;
    filter: invert(1);
}

/* --- F ----- FOOTER ----- */

/* --- I ----- AJUSTE TAMANHO TELAS ----- */

@media (min-width: 1100px) {
    .videoauto {
        width: 100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .videoauto {
        width: 100%;
        height: 100vh;
    }
}

@media (max-width: 1099px) {
    .videoauto {
        display: none;
    }

    header {
        filter: invert(0);
        width: 100%;
    }

    .index {
        height: 80vh;
    }

    #bg-img {
        width: 100%;
    }

    .img-bg {
        display: flex;
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: -1;
        width: 100%;
        object-fit: contain;
    }

    .info p {
        color: #E4E3DF;
        text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.75);
    }

    .btn {
        text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
    }

    .scroll2 {
        margin-top: 15%;
    }
}

@media (max-width: 675px) {
    .img-bg {
        display: none;
    }

    header {
        filter: invert(1.0);
    }

    #search {
        display: none;
    }

    #bg-phone {
        width: 100%;
    }

    .img-bg-phone {
        width: 100%;
        height: 100%;
        display: flex;
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: -1;
        object-fit: cover;
    }

    .btn {
        box-shadow: none;
    }

    .title-col {
        justify-content: center;
    }

    .scroll3 {
        align-items: center;
        flex-direction: column;
    }

    .scroll3 img {
        width: 100% !important;
    }

    .btn3 {
        margin-bottom: 10%;
    }

    .scroll4 {
        display: none;
    }
}


@media (min-aspect-ratio: 16/9) {
    .videoauto2 {
        width: 100%;
        height: 100vh;
    }
}

@media (max-aspect-ratio: 16/9) {
    .videoauto2 {
        width: 100%;
        height: 100vh;
    }
}

@media (max-width: 675px) {
    .logo2 {
        display: none;
    }

    .scroll4 {
        margin-top: 2%;
    }
}

@media screen and (max-width: 470px) {
    #search {
        display: none;
    }

    #cart {
        display: none;
    }

    #account {
        display: none;
    }

}

/* --- F ----- AJUSTE TAMANHO TELAS ----- */