@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200&display=swap');

/*-- CORES --
Branco #E4E3DF
Cinza #AAAAAA
Preto #020B0F */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Heebo', sans-serif;
    background-color: #E4E3DF;
    margin: 0 auto;
    width: 100%;
    min-width: max-content;
    font-weight: bold;
}

/* --- I ----- HEADER ----- */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    padding: 0 50px;
    max-width: 100vw;
    background-color: #E4E3DF;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.15);
}

#menu-nav {
    width: 35px;
    height: 30px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
}

.nav li a {
    color: #020B0F;
    text-decoration: none;
}

.nav li a:hover {
    font-weight: bold;
}

.nav li {
    list-style: none;
    padding: 16px;
}

.nav {
    padding: 0;
    /* margin: 0 20px; */
    transition: 0.3s ease;
    display: none;
    position: absolute;
    background: #E4E3DF;
    width: 10vw;
    height: 25vh;
    text-align: center;
}

.menu-bg,
#menu-bar {
    top: 0;
    left: 0;
    position: absolute;
}

.menu-bg:hover {
    -webkit-text-stroke: 1px #E4E3DF;
    color: #E4E3DF;
    background-color: #E4E3DF;
    filter: invert(0);
}

#menu-bar {
    z-index: 2;
}

.change-bg {
    width: 550px;
    height: 540px;
    transform: translate(-60%, -30%);

}

.change .bar {
    background-color: white;

}

.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
}

.change #bar2 {
    opacity: 0;
}

.change {
    display: block;
}

/* search */
#search {
    width: 20px;
    max-width: 100%;
    margin-left: 20%;
    align-self: center;
}
.search {
    position: relative;
    height: 50px;
}

.search .input {
    background-color: #fff;
    border: 0;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 50px;
    transition: width 0.3s ease;
}

.btn {
    background-color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    transition: transform 0.3s ease;
}

.btn:focus,
.input:focus {
    outline: none;
}

.search.active .input {
    width: 200px;
}

.search.active .btn {
    transform: translateX(198px);
}

#logo {
    width: 200px;
    max-width: 100%;
    margin-right: 1%;
}

.cart-acc {
    display: flex;
    gap: 20px;
}

#cart {
    width: 31px;
    max-width: 100%;
}

#account {
    width: 31px;
    max-width: 100%;
}
/* --- F ----- HEADER ----- */

/* --- I ----- MAIN ----- */
main {
    height: 76vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 70%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 25px;
    background-color: #ececec;
}

.msg {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 20px;
}

.btn {
    position: relative;
    width: 145px;
    height: 40px;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #ececec;
    background-color: #020B0F;
    border: solid 1px #020B0F;
    cursor: pointer;
    z-index: 1;
}

.btn-tp1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    transition: width .4s ease-in-out;
    background-color: #ececec;
    z-index: -1;
}

.btn-tp1:hover {
    background-color: #020B0F;
    border: solid 1px #020B0F;
    text-shadow: 0px 0.3px 0.3px rgba(2, 11, 15, 1);
    color: #020B0F;
}

.btn-tp1:hover::before {
    width: 100%;
}

.btn2 {
    position: relative;
    width: 145px;
    height: 40px;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #ececec;
    background-color: #020B0F;
    border: solid 1px #020B0F;
    cursor: pointer;
    z-index: 1;
}

.btn-tp2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    transition: width .4s ease-in-out;
    background-color: #ececec;
    z-index: -1;
}

.btn-tp2:hover {
    background-color: #020B0F;
    border: solid 1px #020B0F;
    text-shadow: 0px 0.3px 0.3px rgba(2, 11, 15, 1);
    color: #020B0F;
}

.btn-tp2:hover::before {
    width: 100%;
}

/* --- F ----- MAIN ----- */

/* --- I ----- FOOTER ----- */
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #020B0F;
}

.contact {
    display: flex;
    color: #E4E3DF;
    font-size: 10px;
    margin-left: 15px;
    padding: 10px;
}

.logo2 img {
    width: 300px;
    max-width: 100%;
    padding: 10px;
    margin-right: 100px;
    filter: invert(1);
}

.right {
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.aboutFooter {
    color: #E4E3DF;
    margin-right: 20px;
    font-size: 16px;
}

.ig img {
    width: 35px;
    max-width: 100%;
    filter: invert(1);
}

/* --- F ----- FOOTER ----- */

/* --- I ----- AJUSTE TAMANHO TELAS ----- */
@media screen and (max-width: 1000px) {
    header {
        width: 100vw;
    }

    main {
        width: 100vw;
        height: 100vh;
    }

    footer {
        width: 100vw;
    }
}

@media screen and (max-width: 875px) {
    header {
        max-width: 100%;
    }

    footer {
        max-width: 100vw;
    }
}

@media screen and (max-width: 675px) {
    header {
        width: 100vw;
    }

    .logo2 img {
        display: none;
    }
}

@media screen and (max-width: 470px) {
    #search {
        display: none;
    }

    #cart {
        display: none;
    }

    #account {
        display: none;
    }

    .box {
        flex-wrap: wrap;
        width: 80%;
        height: 80vh;
    }

    .buttons {
        width: 50%;
    }

}
/* --- F ----- AJUSTE TAMANHO TELAS ----- */