@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200&display=swap');

/*-- CORES --
Branco #E4E3DF
Cinza #AAAAAA
Preto #020B0F */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Heebo', sans-serif;
    background-color: #E4E3DF;
    margin: 0 auto;
    width: 100%;
    min-width: max-content;
    font-weight: bold;
}

/* --- I ----- HEADER ----- */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    padding: 0 3vh;
    max-width: 100%;
    background-color: #020B0F;
}


.menu-nav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 35px;
    height: 30px;
    margin: 20px 20px;
    transition: all .3s ease-in-out;
}

.burger-btn {
    width: 30px;
    height: 3px;
    background: #E4E3DF;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}

.burger-btn::before, 
.burger-btn::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #E4E3DF;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}

.burger-btn::before {
    transform: translateY(-10px);
}

.burger-btn::after {
    transform: translateY(10px);
}

/* animation */
.menu-nav.open .burger-btn {
    transform: translateX(-30px);
    background: transparent;
}

.menu-nav.open .burger-btn::before {
    transform: rotate(45deg) translate(20px, -20px);
}

.menu-nav.open .burger-btn::after {
    transform: rotate(-45deg) translate(20px, 20px);
}
/* animation */

.navigation {
    width: 6%;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

#menu-nav {
    width: 35px;
    height: 30px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
    filter: invert(1);
}

.nav li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.nav li a:hover {
    font-weight: bold;
}

.nav li {
    list-style: none;
    padding: 16px;
}

.nav {
    padding: 0;
    /* margin: 0 20px; */
    transition: 0.3s ease;
    display: none;
    position: absolute;
    background: #020B0F;
    width: 14vw;
    text-align: center;
}

/* .menu-bg {
    top: 0;
    left: 0;
    position: absolute;
} */

#menu-bar {
    top: 3px;
    left: 0px;
    position: absolute;
}

.menu-bg:hover {
    -webkit-text-stroke: 1px #020B0F;
    color: #020B0F;
    background-color: #020B0F;
    filter: invert(0);
}

#menu-bar {
    z-index: 2;
}

.change-bg {
    width: 550px;
    height: 540px;
    transform: translate(-60%, -30%);

}

.change .bar {
    background-color: white;

}

.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
}

.change #bar2 {
    opacity: 0;
}

.change {
    display: block;
}

/* search */
#search {
    width: 25px;
    max-width: 100%;
    margin-left: 100%;
    align-self: center;
    filter: invert(1);
}
/* .search {
    position: relative;
    height: 50px;
} */

.search .input {
    background-color: #fff;
    border: 0;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 50px;
    transition: width 0.3s ease;
}

.btn {
    background-color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    transition: transform 0.3s ease;
}

.btn:focus,
.input:focus {
    outline: none;
}

.search.active .input {
    width: 200px;
}

.search.active .btn {
    transform: translateX(198px);
}

#logo {
    width: 200px;
    max-width: 100%;
    margin-right: 1%;
    filter: invert(1);
}

.cart-acc {
    display: flex;
    gap: 20px;
}

#cart {
    width: 31px;
    max-width: 100%;
    filter: invert(1);
}

#account {
    width: 31px;
    max-width: 100%;
    filter: invert(1);
}
/* --- F ----- HEADER ----- */

/* --- I ----- MAIN ----- */
main {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    font-size: 17px;
    color: #020B0F;
    height: 98vh;
    width: 98vw;
}

.item {
    display: flex;
    flex-direction: row;
    padding-bottom: 2rem;
}

.item img {
    width: 150px;
    padding-right: 15px;
}

.cart-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40vw;
    height: 100%;
    border-right: 1px solid #B8C2B9;
}

.total {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    padding-top: 1rem;
    border-top: 1px solid #B8C2B9;
}

.checkout {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60vw;
    padding-top: 3rem;
}

.express-checkout {
    border: 1px solid #B8C2B9;
    border-radius: 7px;
    width: 75%;
}

.options-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.payment-options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-bottom: 1rem;
}

.payment-options img {
    width: 50px;
}

.paypal {
    width: 70px!important; /* imagem png do paypal é menor que as outras */
}

.payment-options button {
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
}

.payment-options button:hover {
    filter: contrast(0.75);
}

.payment-separator {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
}

.payment-form {
    width: 75%;
}

.flex {
    display: flex;
    gap: 6px;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

input {
    color: #020B0F;
    border: solid 1px #020B0F;
    border-radius: 0%;
    height: 40px;
    padding: 10px;
    margin: 5px 0;
    background-color: #E4E3DF;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
}

.col-12 {
    width: 100%;
    font-family: 'Heebo', sans-serif;
}

.col-6 {
    width: 50%;
    font-family: 'Heebo', sans-serif;
}

main a {
    font-weight: bold;
    color: #020B0F;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 15px;
    width: 75%;
    margin-top: 5rem;
}

.buttons a {
    margin-right: 3%;
}

.btn {
    position: relative;
    width: 145px;
    height: 40px;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #E4E3DF;
    background-color: #020B0F;
    border: solid 1px #020B0F;
    cursor: pointer;
    z-index: 1;
}

.btn-tp1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    transition: width .4s ease-in-out;
    background-color: #E4E3DF;
    z-index: -1;
}

.btn-tp1:hover {
    background-color: #020B0F;
    border: solid 1px #020B0F;
    text-shadow: 0px 0.3px 0.3px rgba(2, 11, 15, 1);
    color: #020B0F;
}

.btn-tp1:hover::before {
    width: 100%;
}

/* --- F ----- MAIN ----- */

/* --- I ----- FOOTER ----- */
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #020B0F;
}

.contact {
    display: flex;
    color: #E4E3DF;
    font-size: 10px;
    margin-left: 15px;
    padding: 10px;
}

.logo2 img {
    width: 300px;
    max-width: 100%;
    padding: 10px;
    margin-right: 100px;
    filter: invert(1);
}

.right {
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.aboutFooter {
    color: #E4E3DF;
    margin-right: 20px;
    font-size: 16px;
}

.ig img {
    width: 35px;
    max-width: 100%;
    filter: invert(1);
}

/* --- F ----- FOOTER ----- */

/* --- I ----- AJUSTE TAMANHO TELAS ----- */
@media screen and (max-width: 1000px) {
    header {
        width: 100vw;
    }

    #menu-bar {
        top: -5px;
        left: -4px;
    }

    main {
        width: 100vw;
        height: 100vh;
    }

    footer {
        width: 100vw;
    }
}

@media screen and (max-width: 875px) {
    header {
        max-width: 100%;
    }

    footer {
        max-width: 100vw;
    }
}

@media screen and (max-width: 675px) {
    header {
        width: 100vw;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100%;
    }    

    .cart-details {
        display: flex;
        flex-direction: column;
        width: 70vw;
        padding-top: 2rem;
        border-bottom: 1px solid #B8C2B9;
        border-right: none;
    }

    .item {
        display: flex;
        flex-direction: row;
        padding-bottom: 0;
    }

    .total {
        display: flex;
        align-self: center;
        justify-content: space-evenly;
        border-top: none;
    }

    .checkout {
        width: 90vw;
        margin-bottom: 2rem;
    }


    .logo2 img {
        display: none;
    }
}

@media screen and (max-width: 470px) {
    #search {
        display: none;
    }

    #cart {
        display: none;
    }

    #account {
        display: none;
    }

}
/* --- F ----- AJUSTE TAMANHO TELAS ----- */