@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200&display=swap');

/*-- CORES --
Branco #E4E3DF
Cinza #B8C2B9
Preto #020B0F */

* {
 box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Heebo', sans-serif;
  background-color: #E4E3DF;
  margin: 0 auto;
  width: 100%;
  min-width: max-content;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  max-width: 100vw;
  margin-top: 1%;
}

.menu-search {
  display: flex;
}

#menu {
  width: 35px;
  max-width: 100%;
}

#search {
  width: 20px;
  max-width: 100%;
  margin-left: 2%;
}

#logo {
  width: 200px;
  max-width: 100%;
  margin-bottom: 19px;
}

#cart {
  width: 31px;
  max-width: 100%;
  margin-right: 1%;
}

div {
  font-family:'Heebo', sans-serif;
  font-size: 12px;
  display: flex;
}

#collections {
  display: flex;
  flex-wrap: wrap;
  width: 98vw;
  align-items: flex-start;
  justify-content: center;
  height: 80vh;
  margin-bottom: 5%;
}

figure {
  position: relative;
  text-align: center;
  margin: 0;
  width: 20vw;
  height: 68vh;
}

figure img {
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 30px 10px 0px;
}

.model {
  height: 60vh;
  position: relative;
}

.model19-2 {
  position: absolute;
}

.model19 {
  position: relative;
  transition: opacity 0.3s ease-in-out;
}

figure img.model19:hover {
  opacity: 0;
  cursor: pointer;
}

.model24-2 {
  position: absolute;
}

.model24 {
  position: relative;
  transition: opacity 0.3s ease-in-out;
}

figure img.model24:hover {
  opacity: 0;
  cursor: pointer;
}

.model26-2 {
  position: absolute;
}

.model26 {
  position: relative;
  transition: opacity 0.3s ease-in-out;
}

figure img.model26:hover {
  opacity: 0;
  cursor: pointer;
}

.model21-2 {
  position: absolute;
}

.model21 {
  position: relative;
  transition: opacity 0.3s ease-in-out;
}

figure img.model21:hover {
  opacity: 0;
  cursor: pointer;
}

#relBar {
  display: flex;
  justify-content: flex-end;
  margin-right: 3vw;
  margin-top: 2%;
}

#selectBar {
  width: 150px;
  float: left;
  height: 30px;
  font-family: 'Heebo', sans-serif;
  background-color: #E4E3DF;
  border: 1px solid #020B0F;
}


footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #020B0F;
  max-width: 100vw;
}

.contact {
  display: flex;
  color: #E4E3DF;
  font-size: 10px;
  margin-left: 1%;
  padding: 10px;
}

.logo2 img {
  width: 300px;
  max-width: 100%;
  padding: 10px;
  filter: invert(1);
}

.right {
  display: flex;
  align-items: center;
  margin-right: 1%;
}

.aboutfooter {
  text-decoration: none;
  color: #E4E3DF;
  margin-right: 20px;
}

.ig img {
  width: 35px;
  max-width: 100vw;
  filter: invert(1);
}

@media screen and (max-width: 1000px) {
  header {
    width: 100vw;
  }

  body {
    width: 100vw;
  }

  figure img {
    height: 45vh;
 }

 footer {
  width: 100vw;
 }
}


@media screen and (max-width: 875px) {
  header {
    max-width: 100%;
  }

  footer {
    max-width: 100vw;  
  }

  #collections {
    height: fit-content;
    gap: 20%;
  }

  .model {
    margin-bottom: 10%;
  }

  figure > h2 {
    font-size: 16px !important;
  }

  figure > h3 {
    font-size: 12px !important;
  }
}

@media screen and (max-width: 675px) {
  .logo2 img {
    display: none;
  }

  #collections {
    height: fit-content;
    flex-direction: column;
    align-items: center;
  }

  figure {
    width: 60vw;
    height: 40vh;
  }

  .model {
    justify-self: center;
  }
}