@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200&display=swap');

/*-- CORES --
Branco #E4E3DF
Cinza #AAAAAA
Preto #020B0F */

* {
 box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Heebo', sans-serif;
  background-color: #E4E3DF;
  margin: 0 auto;
  width: 100%;
  min-width: max-content;
}

/* --- I ----- HEADER ----- */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  padding: 0 3vh;
  max-width: 100vw;
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.15);
}

.menu-nav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 35px;
    height: 30px;
    margin: 20px 20px;
    transition: all .3s ease-in-out;
}

.burger-btn {
    width: 30px;
    height: 3px;
    background: #020B0F;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}

.burger-btn::before, 
.burger-btn::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #020B0F;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}

.burger-btn::before {
    transform: translateY(-10px);
}

.burger-btn::after {
    transform: translateY(10px);
}

/* animation */
.menu-nav.open .burger-btn {
    transform: translateX(-30px);
    background: transparent;
}

.menu-nav.open .burger-btn::before {
    transform: rotate(45deg) translate(20px, -20px);
}

.menu-nav.open .burger-btn::after {
    transform: rotate(-45deg) translate(20px, 20px);
}
/* animation */

.navigation {
    width: 6%;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

#menu-nav {
    width: 35px;
    height: 30px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
    filter: invert(1);
}

.nav li a {
    color: #020B0F;
    text-decoration: none;
}

.nav li a:hover {
    font-weight: bold;
}

.nav li {
    list-style: none;
    padding: 16px;
}

.nav {
    padding: 0;
    /* margin: 0 20px; */
    transition: 0.3s ease;
    display: none;
    position: absolute;
    background: #E4E3DF;
    width: 10vw;
    height: 25vh;
    text-align: center;
}

/* .menu-bg {
    top: 0;
    left: 0;
    position: absolute;
} */

#menu-bar {
  top: 4px;
  left: 0px;
  position: absolute;
}

.menu-bg:hover {
    -webkit-text-stroke: 1px #E4E3DF;
    color: #E4E3DF;
    background-color: #E4E3DF;
    filter: invert(0);
}

#menu-bar {
    z-index: 2;
}

.change-bg {
    width: 550px;
    height: 540px;
    transform: translate(-60%, -30%);

}

.change .bar {
    background-color: #020B0F;

}

.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
}

.change #bar2 {
    opacity: 0;
}

.change {
    display: block;
}

/* search */
#search {
    width: 25px;
    max-width: 100%;
    margin-left: 100%;
    align-self: center;
}
/* .search {
    position: relative;
    height: 50px;
} */

.search .input {
  background-color: #020B0F;
  border: 0;
  font-size: 18px;
  padding: 15px;
  height: 50px;
  width: 50px;
  transition: width 0.3s ease;
}

.btn {
  background-color: #fff;
  border: 0;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  transition: transform 0.3s ease;
}

.btn:focus,
.input:focus {
  outline: none;
}

.search.active .input {
  width: 200px;
}

.search.active .btn {
  transform: translateX(198px);
}

#logo {
  width: 200px;
  max-width: 100%;
  margin-right: 1%;
}

.cart-acc {
  display: flex;
  gap: 20px;
}

#cart {
  width: 31px;
  max-width: 100%;
}

#account {
  width: 31px;
  max-width: 100%;
}
/* --- F ----- HEADER ----- */

/* --- I ----- MAIN ----- */
div {
  font-family:'Heebo', sans-serif;
  font-size: 12px;
  display: flex;
}

#collections {
  display: flex;
  flex-wrap: wrap;
  width: 98vw;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 5%;
}

figure {
  position: relative;
  text-align: center;
  margin: 0;
  height: 57vh;
}

figure img {
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 6% 3% 0 0; 
}

.model a {
  text-decoration: none;
  color: #020B0F;
}

.model {
  height: 60vh;
  position: relative;
  margin-bottom: 5%;
}

.model2 {
  position: absolute;
}

.model1 {
  position: relative;
  transition: opacity 0.3s ease-in-out;
}

figure img.model1:hover {
  opacity: 0;
  cursor: pointer;
}

#relBar {
  display: flex;
  justify-content: flex-end;
  margin-right: 3vw;
  margin-top: 2%;
}

#selectBar {
  width: 150px;
  float: left;
  height: 30px;
  font-family: 'Heebo', sans-serif;
  background-color: #E4E3DF;
  border: 1px solid #020B0F;
}
/* --- F ----- MAIN ----- */

/* --- I ----- FOOTER ----- */
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #020B0F;
}

.contact {
  display: flex;
  color: #E4E3DF;
  font-size: 10px;
  margin-left: 15px;
  padding: 10px;
}

.logo2 img {
  width: 300px;
  max-width: 100%;
  padding: 10px;
  margin-right: 100px;
  filter: invert(1);
}

.right {
  display: flex;
  align-items: center;
  margin-right: 25px;
}

.aboutFooter {
  color: #E4E3DF;
  margin-right: 20px;
  font-size: 16px;
}

.ig img {
  width: 35px;
  max-width: 100%;
  filter: invert(1);
}
/* --- F ----- FOOTER ----- */

/* --- I ----- AJUSTE TAMANHO TELAS ----- */
@media screen and (max-width: 1000px) {
  header {
    width: 100vw;
  }

  #menu-bar {
    top: -5px;
    left: -4px;
}

  body {
    width: 100vw;
  }

  figure img {
    width: 20vw;
    height: 50vh;
 }

 footer {
  width: 100vw;
 }
}


@media screen and (max-width: 875px) {
  header {
    max-width: 100%;
  }

  footer {
    max-width: 100vw;  
  }

  #collections {
    height: fit-content;
    gap: 20%;
  }

  .model {
    margin-bottom: 10%;
  }

  figure > h2 {
    font-size: 16px !important;
  }

  figure > h3 {
    font-size: 12px !important;
  }
}

@media screen and (max-width: 675px) {
  body {
    margin: 0;
  }

  main {
    width: 98vw;
  }

  #collections {
    width: 98vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 0;
    margin: 0;
    padding: 0;
  }

  .logo2 img {
    display: none;
  }

  figure img {
    width: 200px;
    height: 250px;
  }


  footer {
    width: 100vw;
  }
}

@media screen and (max-width: 470px) {
  #search {
      display: none;
  }

  #cart {
      display: none;
  }

  #account {
      display: none;
  }

}
/* --- F ----- AJUSTE TAMANHO TELAS ----- */