<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>MINJUKIM</title>
<link rel="shortcut icon" href="img/favicon.ico">
<script src="/javascripts/menubar.js" defer ></script>
