<header class="navbar">
  <div class="navigation">
    <div id="menu-bar">
      <div id="menu" onclick="onClickMenu()">
        <!-- <img id="menu-nav" src="/img/menu.png" alt="menu hamburger" /> -->
        <div class="menu-nav">
          <div class="burger-btn"></div>
        </div>
        <ul class="nav" id="nav">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/store">Store</a></li>
          <li><a href="/cart">Cart</a></li>
          <li><a href="/profile">Profile</a></li>
        </ul>
      </div>
    </div>
    <!-- <div class="menu-bg" id="menu-bg"></div> -->
    <div class="search">
      <img id="search" src="/img/search.png" alt="">
      <!-- <ion-icon name="search-outline"></ion-icon>
      <input type="text" class="input" placeholder="Search Here" />
      <button class="searchInput">
        <i class="fas fa-search"></i>
      </button> -->
    </div>
  </div>

  <a href="/">
    <img id="logo" src="/img/logo.png" alt="logo" />
  </a>
  <div class="cart-acc">
    <a href="/cart">
      <img id="cart" src="/img/cart.png" alt="cart" />
    </a>
    <a href="/login">
      <img id="account" src="/img/account.png" alt="profile icon" />
    </a>
    
  </div>
</header>